/*font-family: 'Arsenal', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Orbitron', sans-serif;*/



html, body {
    height: 100%;
}

html .container {
  min-height: 100%;
}
body {
  background-image: url('../img/shoe.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
    background-color: rgba(240, 231, 230, 0.85);
    border-radius: 5px;
}

.jumbotron {
    text-align: center;
    font-family: 'Orbitron', sans-serif;
    background-color: rgb(42, 40, 42);
    color: rgb(167, 208, 179);
}

.link {
    text-align: center;
}

h2 {
    font-size: 35px;
    font-family: 'Exo', sans-serif;
    text-align: center;
    padding-left: 50px;
}

ul {
    list-style-type: none;
    text-align: center;
}

li {
    font-size: 30px;
    font-family: 'Arsenal', sans-serif;
    color: rgb(61, 133, 67);
}

a {
    color: rgb(61, 133, 67);
}

a:hover {
    text-decoration: none;
    color: rgb(10, 232, 53);
}

label {
    font-family: 'Exo', sans-serif;
    font-size: 20px;
    color: rgb(62, 82, 112);
}

footer {
    background-color: rgb(42, 40, 42);
    color: rgb(167, 208, 179);
    text-align: center;
    padding-bottom: 10px;
    padding-top: 30px;
}

.container {
    margin-top: -30px;
    padding: 20px;
}

.delete {
    margin-left: 230px;
}

.update {
    text-align: right;
    margin-top: 3px;
    margin-right: 5px;
}

.empty {
    font-style: italic;
    color: rgb(233, 17, 63);
    font-family: 'Exo', sans-serif;
    padding-top: 13px;
}

.display-name {
    color: rgb(62, 82, 112);
    font-weight: bolder;
}

.no-stores {
    text-align: center;
}
