<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe Store and Brand Finder</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link rel="stylesheet" href="{{app.request.getbaseurl}}/css/styles.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Shoe Store and Brand Finder</h1>
            <h4><a href='/'>Home</a></h4>
        </div>

        <div class="row">
            <div class="col-md-6">
                <form class="form-group" action='/brand/create' method='post'>
                    <label for='brand_name'>Brand Name:</label>
                    <input class="form-control" id='brand_name' name='brand_name' type='text' required><br>
                    <button class="btn btn-success" type='submit'>Add a New Brand</button>
                </form>
            </div>
            <div class="col-md-6">
                {% if brands is not empty %}
                <h2>List of all Brands:</h2>
                <ul>
                    {% for brand in brands %}
                    <li><a href="/brand/{{ brand.getId }}">{{ brand.getName }}</a></li>
                    {% endfor %}
                </ul>
                <form action='/brands/delete' method='post'>
                    <button class="btn btn-danger" type='submit'>Delete all Brands</button>
                </form>
                {% endif %}
            </div>
        </div>
        <footer>
            <p>Copyright &copy; Dan Lauby 2017</p>
        </footer>
    </body>
</html>
