<html>
    <head>
        <meta charset="utf-8">
        <title>Shoe Store Inventory</title>
        <link rel="stylesheet" href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
        <link href="https://fonts.googleapis.com/css?family=Arsenal|Exo|Orbitron" rel="stylesheet">
        <link rel="stylesheet" href="{{app.request.getbaseurl}}/assets/css/styles.css">
    </head>
    <body>
        <div class="jumbotron">
            <h1>Shoe Store Inventory</h1>
        </div>
        <div class="container">
            <h2 class="link"><a href="/stores">Add or view a store</a></h2>
            <h2 class="link"><a href="/brands">Add or view a brand of shoe</a></h2>
        </div>
        <footer>
            <p>Copyright &copy; Dan Lauby 2017</p>
        </footer>
    </body>
</html>
